* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.inter_font {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: medium;
      font-style: normal;
}

.logo {
      width: 139px;
      height: 60px;


}

.menu {
      display: flex;
      list-style-type: none;
      gap: 51px;
      align-items: center;

}

nav {
      padding: 16px 120px 16px 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}



.btn {
      background-color: #30B868;
      border: none;
      padding: 12px 16px;
      border-radius: 4px;
      font-size: 20px;
      font-weight: bold;
      gap: 10px;
      color: white;
      cursor: pointer;
}

.banner {
      background-image: url(../assets/hero-bg.png);
      padding: 80px 120px;
      min-height: 400px;
}

.upper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
}



.color-green {
      color: #30B868;
}

.frame {
      display: flex;
      align-items: center;
      gap: 12px;
      background-color: white;
      padding: 8px 12px;
      border-radius: 1000px;
      gap: 6px;
}

.frame h3 {
      font-size: 16px;
      font-weight: 600;
      color: #30B868;
      margin: 0;
}

.dot {
      height: 16px;
      width: 16px;
      border-radius: 8px;
      opacity: 20%;
      background-color: #30B868;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
}

.dot2 {
      position: absolute;
      height: 12px;
      width: 12px;
      top: 11.5px;
      left: 14px;
      border-radius: 8px;
      opacity: 40%;
      background-color: #30B868;
}

.dot3 {
      position: absolute;
      height: 6px;
      width: 6px;
      top: 14.5px;
      left: 17.5px;
      border-radius: 8px;
      background-color: #469165;
}



.upper-heading h1 {
      font-size: 72px;
      font-weight: 700;
      color: white;
      line-height: 84px;
      text-align: center;
}

.upper-heading p {
      font-size: 18px;
      font-weight: 400;
      color: white;
      line: height 24px;
      text-align: center;
      margin: 0 auto;
}