* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.inter_font {
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: medium;
      font-style: normal;
}

.logo {
      width: 139px;
      height: 60px;


}

.menu {
      display: flex;
      list-style-type: none;
      gap: 51px;
      align-items: center;

}

nav {
      padding: 16px 120px 16px 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}



.btn {
      background-color: #30B868;
      border: none;
      padding: 12px 16px;
      border-radius: 4px;
      font-size: 20px;
      font-weight: bold;
      gap: 10px;
      color: white;
      cursor: pointer;
}

.btn2 {
      background-color: transparent;
      border: 2px solid white;
      padding: 12px 16px;
      border-radius: 4px;
      font-size: 20px;
      font-weight: bold;
      gap: 10px;
      color: white;
      cursor: pointer;
}

.banner {
      background-image: url(../assets/hero-bg.png);
      padding: 70px 120px 134px 120px;
}

.upper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
}



.color-green {
      color: #30B868;
}

.frame {
      display: flex;
      align-items: center;
      gap: 12px;
      background-color: white;
      padding: 8px 12px;
      border-radius: 1000px;
      gap: 6px;
}

.frame h3 {
      font-size: 16px;
      font-weight: 600;
      color: #30B868;
      margin: 0;
}

.dot {
      height: 16px;
      width: 16px;
      border-radius: 8px;
      opacity: 20%;
      background-color: #30B868;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
}

.dot2 {
      position: absolute;
      height: 12px;
      width: 12px;
      top: 11.5px;
      left: 14px;
      border-radius: 8px;
      opacity: 40%;
      background-color: #30B868;
}

.dot3 {
      position: absolute;
      height: 6px;
      width: 6px;
      top: 14.5px;
      left: 17.5px;
      border-radius: 8px;
      background-color: #469165;
}



.upper-heading h1 {
      font-size: 72px;
      font-weight: 700;
      color: white;
      line-height: 84px;
      text-align: center;
}

.upper-heading p {
      font-size: 18px;
      font-weight: 400;
      color: white;
      line: height 24px;
      text-align: center;
      margin: 0 auto;
}

.notes-header {
      padding: 120px 120px 120px;
      text-align: center;
      align-items: center;
      justify-content: center;
}

.notes-header h2 {
      font-size: 48px;
      font-weight: 700;
      color: #001931;
      line-height: 100%;
      margin-bottom: 30px;
}

.notes-header p {
      color: #627382;
      font-size: 18px;
      font-weight: 400;
      line-height: 20%;
}


.notes-box {
      display: flex;
      gap: 24px;
      align-items: stretch;
      justify-content: center;
      padding: 0 120px 120px;
}

.notes-card {
      padding: 24px;
      box-shadow: 0 6px 50px 0 #00000011;
      max-width: 267px;
      border-radius: 8px;
      background-color: white;
      text-align: center;
}

.notes-card img {
      width: 64px;
      height: 64px;
      margin-bottom: 24px;
      background-color: #F95555;
      border-radius: 50%;
      padding: 16px;
}

.notes-card h3 {
      font-size: 20px;
      font-weight: 600;
      color: #001931;
      margin-bottom: 16px;
      line-height: 24px;
}

.notes-card p {
      font-size: 16px;
      font-weight: 400;
      color: #627382;
      line-height: 24px;
}

#solution {
      display: flex;
      padding: 120px;
}

.solution-text {
      padding: 120px 120px;
      justify-content: center;
}

.solution-text h5 {
      color: #30B868;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 16px;
}

.solution-text h2 {
      font-size: 48px;
      font-weight: 700;
      color: #001931;
      line-height: 100%;
      margin-bottom: 30px;
}

.solution-text p {
      font-size: 16px;
      font-weight: 400;
      color: #627382;
      line-height: 24px;
      margin-bottom: 15px;
}


.solution-point {
      display: flex;

      color: #001931;
      margin-bottom: 10px;
}

#ready {
      padding: 80px 40px 80px 40px;
      border-radius: 12px;
}

.readyup {
      text-align: center;
      align-items: center;
      justify-content: center;
      background-color: #F7F6F2;
      padding: 120px;
}

.readyup h2 {
      font-size: 48px;
      font-weight: 700;
      color: #001931;
      line-height: 100%;
      margin-bottom: 30px;
}

.readyup p {
      font-size: 16px;
      font-weight: 400;
      color: #627382;
      line-height: 24px;
      margin-bottom: 15px;
}

.readyup .btn {
      margin-bottom: 24px;
}

.list {
      display: flex;
      justify-content: center;
      gap: 40px;
      color: #627382;
}

#readyupli {
      list-style-type: none;
}